HTML {
    background-image: url("../img/BatmanArkhamKnightGothamCity.webp");
    background-size: cover;
}

h1 {
    color: yellow;
}

.container {
    margin: 150px auto;
    width: 50%;
    padding: 8px;
}



div.float-right {
    float: right;
}

img.batman {
    width: 75%;
    float: left;
    height: 75%;
    padding: 0px 10px 0px 0px;
}

.text {
    text-align: justify;
}

p {
    font-size: 25px;
}

p img.linkedIn,
p img.Github,
p img.Facebook {
    width: 5%;
    padding-right: 1%;
    display: inline;
}

footer {
    position: fixed;
    bottom: 0;
}



.ptags {
    color: black;
}

div.ConnectWithMe p {
    font-size: 165%;
}

div.ConnectWithMe {
    margin-bottom: 4%;
}


p#footer-only {
    color: rgb(216, 226, 226);
}

.text p {
    color: rgb(242, 255, 0);
}



a.yellowATags {
    color: yellow;
    display: contents;
}

a.yellowATags:hover {
    color: cadetblue;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}